/* Colors for Project: 
Tyrian purple #6C1135
Amaranth purple #B50048
Turquoise #00D3C4
Light Sea Green #00B3A8
Saffron #F2C14E

Fonts for Project: 
Roboto Slab: 
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap" rel="stylesheet">
font-family: 'Roboto Slab', serif;

ABeeZee:
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=ABeeZee&display=swap" rel="stylesheet">
font-family: 'ABeeZee', sans-serif;
*/

/* Nav Bar Styling */
.navbar-brand img{
    width: 20vw;
    margin: 10px;
    margin: 0 0 0 30px;
}
.navbar {
    box-shadow: 0 3px 6px 0 #d6d6d6;
    display: flex;
}
.nav-item {
    font-family: 'ABeeZee', sans-serif;
    font-style: bold;
    margin: 10px;
    align-items: center;
    justify-content: center;
}
.container-fluid {
    display: flex;
    align-items: end;
}
.navbar-collapse {
    justify-content: flex-end;
    margin: 10px;
    margin-right: 100px;
}

/*Head 1*/
.head1 {
    margin: 10px;
    background-color: #F2C14E;
    display: flex;
}
.head-info {
    width: 80%;
}
.gettingstarted {
    width: 20%;
}

/* Font styling for full page */
h1 {
    font-family: 'Roboto Slab', serif; 
}
/* Footer */